<table class="table">
  <thead>
    <tr>
      <th><abbr title="Position">Pos</abbr></th>
      <th><abbr title="Id">Id</abbr></th>
      <th>Team</th>
      <th><abbr title="Played">Pld</abbr></th>
      <th><abbr title="Won">Win</abbr></th>
      <th><abbr title="Lost">Lose</abbr></th>
      <th><abbr title="Win Rate">Win Rate</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Position">Pos</abbr></th>
      <th><abbr title="Id">Id</abbr></th>
      <th>Team</th>
      <th><abbr title="Played">Pld</abbr></th>
      <th><abbr title="Won">Win</abbr></th>
      <th><abbr title="Lost">Lose</abbr></th>
      <th><abbr title="Win Rate">Win Rate</abbr></th>
    </tr>
  </tfoot>
  <tbody>
    <% if @teams.present? %>
      <% @teams.each_with_index do |team, i| %>
        <%= render 'team_row', team: team, rank: i + 1 %>
      <% end%>
    <% end %>
  </tbody>
</table>